body {
	display: grid;
	min-height: 100vh;
	place-content: center;
	color: aqua;
	gap: 10px;
	text-align: center;
	font-family: Source Sans Pro, sans-serif;
	font-size: 25px;
	width: 100%;
}

.difficulty {
	border-collapse: collapse;
	margin: auto;
	border: 1px solid #344861;
	padding: 0;
}

button {
	width: 100px;
	height: auto;
}

.sudoku input {
	height: 50px !important;
	width: 50pxs !important;
	font-size: 15px;
	border: none;
	outline: none;
	text-align: center;
}

.sudoku {
	height: 60px;
	width: 60px;
	padding: 0;
	border: 1px solid #bec6d4;
}

.color {
	background-color: #e8e8e8;
}

.blue {
	background-color: #89cff0 !important;
}

.red {
	background-color: red;
}

.game_a {
	border-bottom: 2px solid #344861;
}

.game_b{
	border-top: 2px solid #344861;
}

.game {
	border-right: 2px solid #344861;
}

.game_c {
	border-left: 2px solid #344861;
}

.overview {
	gap: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input:hover {
	background-color: #5f9ea0;
}

.light {
	background-color: rgba(14, 97, 133, 0.164);;
}

button {
	border: 0px;
	font-size: 25px;
}

.btn {
	position: absolute;
	left: 45%;
	width: 10%;
}
